.to-do-list{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    margin-top: 50px;

}
.text{
    flex:1;
}
body{
    background-color: hsl(0, 0%, 35%);
}
.task{
    font-size: 1.3rem;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
input{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid hsla(0, 0%, 0%, 0.507);
    border-radius: 5px;
}
h1{
    font-size: 3rem;
    color: white;
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
    border: 2px solid hsla(0, 0%, 0%, 0.507);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button{
    border: 2px solid hsla(0, 0%, 0%, 0.507);
    background-color: hsl(117, 61%, 42%);
}
.add-button:hover{
    background-color: hsl(117, 61%, 32%);
}

.delete-button{
    background-color: hsl(1, 100%, 52%);
}
.delete-button:hover{
    background-color: hsl(1, 100%, 42%);
}

.delete-button .move-button{
    padding: 10px 10px;
}